* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

.container {
    background: #fff;   
    /* min-height: 100vh; */
    
}

.login_form {
    margin: 150px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid #000;
    width: 500px;
    border-radius: 20px;
}

.login_form h1 {
    text-align: center;
    margin:20px 0;
    color: crimson;
}

.login {
    /* padding: 10px 20px; */
    /* margin: 10px; */
}

.login form {
    display: flex;
    flex-direction: column;
    /* padding: 10px 20px; */
    
}

.login form input {
    margin-top: 10px;
    padding: 10px 20px;
    outline: none;
    border-radius: 20px;
}

.btn_login {
    
    outline: none;
    background: #000;
    color: #fff;
    border: none;
    transition: 0.5s;
}
.btn_login:hover {
    background: rgb(218, 41, 41);
    color: #fff;
}